*, *::before, *::after { box-sizing: border-box; }
body {
  min-height:100svh; 
  display:flex; 
  flex-direction:column;
}
main {
  flex: 1;
}
.account-container {
  max-width: 1440px;
  display: flex;
  gap: 32px;
  padding: 0 20px;
  margin: 32px auto;
  justify-content: center;
  background: var(--neutral-white);
}
.account-sidebar-btn {
  display: none;
}
.account-sidebar {
  max-width: 160px;
  width: 100%;
}
.account-sidebar ul {
  max-width: 160px;
  width: 100%;
  list-style: none;
  padding: 10px 0;
  margin: 0 auto;
}
.account-sidebar li {
  font: var(--text-small);
  cursor: pointer;
  padding: 9px 0;
  width: 100%;
}
.account-sidebar li.active {
  font-weight: 600;
}
.account-content {
  max-width: 736px;
  width: 100%;
  height: fit-content;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.content {
  border: 1px solid var(--neutral-light);
  border-radius: 8px;
}
.account-content h6 {
  margin: 16px 24px;
  font-weight: 600;
}
.acc-row {
  font: var(--text-small);
  padding: 0 24px;
  padding-top: 24px;
}
.acc-row .label{
  font-weight: 600;
}
.row-head.mobile {
  display: none;
}
.row-head {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}
.row-edit {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.edit .label {
  max-width: 136px;
  width: 100%;
  font: var(--text-small);
  font-weight: 600;
}
.btn-edit {
  background: none;
  border: none;
  color: var(--red);
  cursor: pointer;
  font: var(--text-small);
  font-weight: 600;
}
.btn-link {
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
  font: var(--text-small);
  font-weight: 600;
}
.edit {
  width: fit-content;
  margin: 0;
  padding: 0;
  margin-top: 24px;
}
.form-edit {
  display: flex;
  gap: 16px;
}
.edit .signup-field {
  max-width: 240px;
  width: 100vw;
}
.row-actions {
  display: flex;
  gap: 16px;
}
.row-actions button {
  max-width: 112px;
  margin-bottom: 8px;
}
.line,
.sep {
  border: 0;
  border-top: 1px solid var(--neutral-light);
  margin: 0;
}
.is-hidden {
  display: none !important;
}
table {
  width: 100%;
  border-collapse: collapse
}
thead {
  height: 54px;
}
thead tr {
  display: flex;
  gap: 24px;
  padding: 16px 24px;
}
thead th {
  text-align: left;
  font: var(--text-small);
  font-weight: 600;
  color: var(--neutral-medium);
  padding: 0;
}
.col-date,
.col-total,
.col-id {
  max-width: 80px;
  width: 100%;
  padding: 0;
}
.col-status {
  max-width: 90px;
  width: 100%;
  padding: 0;
  text-align: end;
  white-space: nowrap;
}
.col-product {
  width: 100%;
  padding: 0;
  min-width: 210px;
}
tbody tr {
  display: flex;
  gap: 24px;
  padding: 16px 24px;
  font: var(--text-small);
  color: var(--neutral-extra-dark);
  align-items: center;
  border-top: 1px solid var(--neutral-light);
  cursor: pointer;
}
td.col-id {
  color: var(--red);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content-mobile {
  display: none;
}
.header-content .title {
  display: flex;
  align-items: center;
  justify-content: left;
  font: var(--text-large)
}
.title h6 {
  margin-right: 5px !important;
}
.header-content .date {
  margin-right: 24px;
  font: var(--text-normal);
  color: var(--neutral-medium);
}
.col-discount,
.col-quantity {
  max-width: 64px;
  width: 100%;
  padding: 0;
}
.col-price {
  max-width: 80px;
  width: 100%;
  padding: 0;
}
.col-subtotal {
  max-width: 88px;
  width: 100%;
  padding: 0;
  text-align: end;
}
.pro {
  display: none;
}
.detail-body tr {
  font: var(--text-small);
  font-weight: 600;
}
.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin: 0;
}
.product-info img {
  max-width: 80px;
  width: 100%;
  height: 80px;
  object-fit: cover;
}
.footer-detail .review {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  padding: 24px 20px;
}
.footer-detail .review button {
  font: var(--text-small);
  font-weight: 600;
  padding: 6px 16px;
  width: fit-content;
  height: fit-content;
}
.footer-detail {
  display: flex;
  justify-content: space-between;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px;
}
.summary .row  {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  font: var(--text-small);
}
.summary .row .label {
  max-width: 64px;
  width: 100%;
  text-align: end;
  font: var(--text-small);
  font-weight: 600;
  color: var(--neutral-medium);
}
.summary .row .value {
  max-width: 136px;
  width: 100vw;
  text-align: right;
  font: var(--text-small);
  font-weight: 600;
  color: var(--neutral-extra-dark);
}
.summary .row.total .value  {
  font: var(--text-medium);
  font-weight: 600;
  color: var(--red);
}
.content .detail-title {
  font: var(--text-small);
  font-weight: 600;
  color: var(--neutral-medium);
  margin: 16px 24px;
}
.method,
.recipient {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 24px;
  font: var(--text-small);
}
.recipient-name {
  font: var(--text-small);
  font-weight: 600;
  color: var(--neutral-extra-dark);
}
.order-method {
  display: flex;
  gap: 8px;
}
.back-btn {
  background: none;
  border: none;
  color: var(--neutral-extra-dark);
  cursor: pointer;
  font: var(--text-small);
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
}
.back-btn i {
  font-size: 12px; 
  font-weight: 600;
  margin: 8px;
}
.order-page {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
}
.order-page .prev,
.order-page .next {
  background: none;
  border: 1px solid var(--neutral-light);
  color: var(--neutral-extra-dark);
  cursor: pointer;
  font: var(--text-small);
  font-weight: 600;
  width: 32px;
  height: 32px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-page .prev {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.order-page .next {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.order-page .pages {
  font: var(--text-small);
  font-weight: 600;
  width: fit-content;
}
button.page {
  height: 32px;
  width: 32px;
  font: var(--text-small);
  font-weight: 600;
  background-color: var(--neutral-white);
  border: 1px solid var(--neutral-light);
  border-left: none;
  border-right: none;
  cursor: pointer;
}
button.page.active {
  background: var(--neutral-extra-dark);
  color: var(--neutral-white);
  pointer-events: none;
}
.order-page .prev.disabled,
.order-page .next.disabled {
  color: var(--neutral-light);
  cursor: not-allowed;
  pointer-events: none
}
.col-product-mobile {
  display: none;
}
.popup-overlay-js.review.is-active {
  opacity: 1;
  visibility: visible;
}
.review-success-popup,
.review-popup {
  position: fixed;
  max-width: 544px;
  width: 100%;
  z-index: 8000;
  background: var(--neutral-white);
  border-radius: 16px;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
}
.review-popup-header {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-popup-header span {
  font: var(--text-medium);
  font-weight: 600;
  flex: 1;
  text-align: center;
}
.review-popup-close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.review-popup-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}
.orders-info {
  display: flex;
  gap: 16px;
  align-items: start;
  flex-direction: column;
}
.item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.orders-info img {
  width: 56px;
  height: auto;
}
.orders-info .name {
  font: var(--text-small);
  font-weight: 600;
}
.review-label {
  font: var(--text-medium);
  font-weight: 600;
  text-align: center;
}
.review-stars {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 8px;
}
.review-stars .star {
  background: none;
  border: none;
}
.star {
  padding: 0;
}
.star .star-filled {
  display: none;
}
.star.is-active .star-outline {
  display: none;
}
.star.is-active .star-filled {
  display: block;
}
textarea {
  max-width: 100%;
  min-height: 120px;
  border: 1px solid var(--neutral-medium);
  padding: 14px;
  border-radius: 8px;
  resize: none;
  margin: 8px 0;
}
.review-text {
  font: var(--text-small);
  
}
.btn-primary.review-submit {
  max-width: 224px;
  align-items: center;
  margin: auto;
}
.success-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--neutral-extra-dark);
  justify-content: center;
  text-align: center;
}
.success-close {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.success-icon {
  height: 96px;
  margin-top: 64px;
  margin-bottom: 16px;
}
.success-title {
  margin: 16px;
}
.success-desc {
  margin: 0 40px;
  display: flex;
  justify-content: center;
}
.success-ok {
  max-width: 160px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.credit-card,
.ship-address {
  margin: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.credit-card button,
.ship-address button {
  width: fit-content;
  padding: 8px 30px;
}
.add-card-form-js,
.add-address-form-js {
  margin: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.card-info {
  display: flex;
  width: 100%;
  gap: 32px;
}
.card-info .field{
  flex: 1 1 0;          
  min-width: 0;          
}
.form-label {
  font-weight: 600;
}
.add-address-form-js .row-actions button {
  margin: 0;
}
.credit-card-js,
.address-card-js {
  margin: 16px 24px;
  display: flex;
  justify-content: space-between;
}
.add-method-btn {
  width: fit-content;
  padding: 8px 32px;
}
.edit-address-btn {
  height: fit-content;
  padding: 0;
}
.saved-card .js-number-card,
.saved-card .js-date-card,
.saved-card .js-cvv-card,
.saved-address .js-address,
.saved-address .js-phone,
.saved-address .js-name {
  font-weight: 600;
}
.card-status,
.address-status {
  color: var(--green);
  font-weight: 600;
}
.form-btn {
  display: flex;
  justify-content: space-between;
}
.form-btn .row-actions {
  width: 100%;
}
.btn-link.remove {
  white-space: nowrap;
  background: none;
  border: none;
  padding: 0;
  height: fit-content;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .account-container {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .content {
    margin-top: 16px;
  }
  .account-sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background: var(--neutral-extra-dark);
    color: var(--neutral-white);
    font: var(--text-small);
    cursor: pointer;
    border: none;
  }
  .account-sidebar-btn.detail {
    position: relative;       
    width: 100vw;             
    height: 48px;
    background:var(--neutral-extra-dark);
    font-weight: 400 !important;  
  }
  .account-sidebar-btn.detail span {
    position: absolute; 
    left:50%; 
    top:50%;
    transform: translate(-50%,-50%);
    color:#fff; 
    pointer-events: none;   
  }
  .account-sidebar-btn.detail .back-btn{
    color: var(--neutral-white);
    position: absolute; 
    left:12px; 
    top:50%;
    transform: translateY(-50%);
    width:32px; 
    height:32px; 
    display:inline-flex; 
    align-items:center; 
    justify-content:center;
  }
  .account-content {
    border: none;
    margin-bottom: 56px;
    width: 100%;
    gap: 0;
  }
  .account-container.is-open .icon{
    transform:rotate(180deg)
  }
  .account-container.is-open .account-sidebar {
    display: block;
  }
  .account-sidebar {
    max-width: 100%;
    width: 100vw;
    background: var(--neutral-extra-dark);
    display: none;
  }
  .account-sidebar ul {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    color: var(--neutral-light);
    justify-content: center;
    text-align: center;
    font: var(--text-xsmall);
  }
  .account-sidebar li {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

}
@media (max-width: 767px) {
  html, body {
    overflow-y: auto;             
    overflow-x: hidden;           
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;                
  }
  .acc-row {
    padding: 16px;
    padding-bottom: 0;
  }
  .header-nav {
    display: none;
  }
  .account-container {
    flex-direction: column;
    padding: 0;
    margin-top: 8px;
    gap: 0;
  }
  .account-sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background: var(--neutral-extra-dark);
    color: var(--neutral-white);
    font: var(--text-small);
    cursor: pointer;
    border: none;
  }
  .account-sidebar-btn.detail {
    position: relative;       
    width: 100vw;             
    height: 48px;
    background:var(--neutral-extra-dark);
    font-weight: 400 !important;  
  }
  .account-sidebar-btn.detail span {
    position: absolute; 
    left:50%; 
    top:50%;
    transform: translate(-50%,-50%);
    color:#fff; 
    pointer-events: none;   
  }
  .account-sidebar-btn.detail .back-btn{
    color: var(--neutral-white);
    position: absolute; 
    left:12px; 
    top:50%;
    transform: translateY(-50%);
    width:32px; 
    height:32px; 
    display:inline-flex; 
    align-items:center; 
    justify-content:center;
  }
  .account-content {
    border: none;
    margin-bottom: 56px;
    width: 100%;
    gap: 0;
  }
  .account-container.is-open .icon{
    transform:rotate(180deg)
  }
  .account-container.is-open .account-sidebar {
    display: block;
  }
  .account-sidebar {
    max-width: 100%;
    width: 100vw;
    background: var(--neutral-extra-dark);
    display: none;
  }
  .account-sidebar ul {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    color: var(--neutral-light);
    justify-content: center;
    text-align: center;
    font: var(--text-xsmall);
  }
  .account-sidebar li {
    display: block;
    margin: 0 auto;
  }
  .form-edit {
    flex-direction: column;
  }
  .edit .signup-field {
    max-width: 100%;
    width: 100vw;
  }
  .acc-row button {
    max-width: 100%;
  }
  .edit .label {
  max-width: 72px;
  width: 100%;
  font: var(--text-small);
  font-weight: 600; 
  }
  .row-head.desktop {
    display: none;
  }
  .row-head {
    gap: 16px
  }
  .row-head.mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .row-mobile {
    display: flex;
    gap: 16px;
  }
  footer {
    display: none;
  }
  .content {
    border: none;
  }
  .account-content h6 {
    margin: 16px;
  }
  .table-order thead { 
    display: none; 
  }
  .table-order tbody tr {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: 16px;
  }
  
  [data-view="orders"] td.col-product {order: 1;}
  [data-view="orders"] td.col-total {order: 2;}
  [data-view="orders"] td.col-id {order: 3;}
  [data-view="orders"] td.col-date {order: 4;}
  [data-view="orders"] td.col-status {order: 5;}

  [data-view="orders"] td.col-total::before {content: "Price: ";}
  [data-view="orders"] td.col-id::before {content: "Order ID: ";}
  [data-view="orders"] td.col-date::before {content: "Date: ";}
  [data-view="orders"] td.col-status::before {content: "Status: ";}
  [data-view="orders"] td {
    display: flex;
    gap: 4px;
    white-space: normal;
    color: var(--neutral-medium);
    width: auto;
  }
  [data-view="orders"] td.col-product {
    color: var(--neutral-extra-dark);
  }
  .order-page {
    margin-right: 16px;
  }
  .col-product-mobile {
    display: block;
  }
  .header-content {
    display: none;
  }
  .header-content-mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    font: var(--text-small);
    border-bottom: 4px solid var(--neutral-light);
  }
  .content-recipient {
    border-bottom: 4px solid var(--neutral-light);
    border-top: 4px solid var(--neutral-light);
    border-radius: 0;
  }
  .header-content-mobile .id {
    font-weight: 600;
  }
  [data-view="order-details"] .sep {
    display: none;
  }
  tr.row-product {
    display: none;
  }
  .table-detail thead {
    display: none;
  }
  .pro {
    display: block;
    padding: 16px;
    padding-bottom: 0;
    font: var(--text-small);
    font-weight: 600;
  }
  [data-view="order-details"] tbody tr {
    padding: 8px;
    border-top: none;
    padding-left: 16px;
  }
  .product-info-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: 0;
  }
  .product-info-mobile img {
    max-width: 64px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  [data-view="order-details"] .back-btn {
    display: none;
  }
  [data-view="order-details"] .content-table-detail,
  [data-view="order-details"] .order-method { 
    display: contents; 
  }
  [data-view="order-details"] .header-content-mobile {order: 1;}
  [data-view="order-details"] .pro {order: 2;}
  [data-view="order-details"] .table-detail {order: 3;}
  [data-view="order-details"] .content-recipient {order: 4;}
  [data-view="order-details"] .content-shipping {order: 5;}
  [data-view="order-details"] .content-payment {order: 6;}
  [data-view="order-details"] .footer-detail {order: 7;}
  .content .detail-title {
    margin: 13px 16px 0;
  }
  .content .method,
  .content .recipient {
    padding: 16px;
  }
  .content-shipping .detail-title {
    margin: 13px 16px 0;
  }
  .content .method {
    border-bottom: 4px solid var(--neutral-light);
  }
  .footer-detail {
    display: flex;
    flex-direction:column-reverse;
  }
  .footer-detail .review {
    gap: 16px;
    padding: 24px 16px;
    border-top: 4px solid var(--neutral-light);
  }
  .footer-detail .review button {
    width: 100%;
  }
  .summary .row .label {
    text-align: start;
  }
}
